*{
    margin: 0;
    padding: 0;
}
.login{
    width: 100%;
    height: 100vh;
    background-color: aliceblue;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logins{
    width: 40%;
    height: 90vh;
    background-color: #082032;
    border-radius: 20px;
}
.logins h1{
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: center;
}

.Logg{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hh{
    font-size: 60px;
}
.ln{
    margin-bottom: 20px;
    width: 100%;
    display:flex;
    justify-content: center;
    height: 3px;
}
.ll{
    width: 30%;
    height: 3px;
    background-color: aliceblue;
}
.logins h3{
    color: red;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
h4{
    margin-top: 20px;
    cursor: pointer;
    color: white;
}
.logs{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
input{
    width: 80%;
    height: 50px;
    font-size: 20px;
    outline: none;
    margin-top: 5px;
    color: white;
    border: none;
    background-color: #06243b;
    border-bottom: 2px solid aliceblue;
}
button:hover{
    background-color: transparent;
}
button{
    transition: 0.7s;
    cursor: pointer;
    background-color: black;
    height: 50px;
    font-size: 20px;
   border: none;
   border: 1px solid aliceblue;
    width: 80%;
    margin-top: 20px;
    border-radius: 20px;
}
button p{
    color: white
}