*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
   

}

.bg{
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}
.bgs{
    overflow: hidden;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bgs .left h1{
    font-size: 40px;
   
}
.bgs .left button:hover{
    transform: scale(1.03);
}
.bgs .right button:hover{
    transform: scale(1.03);
}
.bgs .left button{
    transition: 0.5;
    margin-left: 30px;
    cursor: pointer;
    width: 80px;
    height: 50px;
    background-color: transparent;
    color: white;
    border: none;
}
.bgs .right h1{
    font-size: 40px;
   
}
.bgs .right button{
    border: none;
    transition: 0.5;
    margin-right: 30px;
    cursor: pointer;
    width: 80px;
    height: 50px;
    background-color: transparent;
    color: white;
   
}
/* .bgs .center{
    width: 400px;
    height: 300px;
    border: 1px solid white;
} */
.bgs .center .title{
    width: 400px;
    height: 250px;
    /* border: 3px solid gray; */
    backdrop-filter: blur(5px);
    margin-top: 13%;
    color: white;
}
.bgs .center .title h3{
    color: red;
    display: flex;
    justify-content: center;
    color: wheat;
    margin: 10px;

}
.bgs .center .title button:hover{
    background-color: transparent;
    color:wheat ;
}
.bgs .center .title button{
    width: 130px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    background-color: #082032;
    color: gainsboro;
    font-weight: 600;
    display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s;
  border: none;
  border: 1px solid white;
  margin: 30px 120px;

}
.bgs .center .title .sp h3{
   font-size: 20px;
   font-weight: 600;
}
.bgs .center .title h1 span{
    color: red;
    border-bottom: 2px solid gray;  
}
.bgs .center .title p{
    padding-left: 20px;
}
.bgs .center .title h1{
   display: flex;
   font-weight: 600;
   justify-content: center;
}
.bgs .center .title p{
    font-size: 20px;
    display: flex;
    margin-top: 20px;
}
.bgs .center .title .let{
    width: 100%;
    display: flex;
    justify-content: center;
}



/* ////////////////media/////////////// */

@media only screen and (max-width: 800px){
    .bgs .center .title{
        width: 400px;
        height: 250px;
        border: none;
        backdrop-filter: blur(5px);
        margin-top: 13%;
        color: white;
    }
    .bgs .center .title h3{
       font-size: 25px;
    
    }
    .bgs .center .title h6{
        font-size: 25px;
     
     }
    .bgs .center .title button{
        width: 150px;
        height: 60px;
        font-size: 20px;
    }
}
@media only screen and (max-width: 600px){
    .bgs .center .title{
        width: 350px;
        height: 300px;
    }
    .bgs .center .title h3{
        font-size: 25px;
        margin: 10px;
    
    }

    .bgs .center .title button{
        width: 150px;
        height: 60px;
        font-size: 20px;
        margin: 10px;
    }
    .bgs .center .title .sp h3{
       font-size: 20px;
       font-weight: 600;
    }
  
    .bgs .center .title h1{
       display: flex;
       font-weight: 600;
       justify-content: center;
    }
    
.bgs .left h1{
    font-size: 30px;
   
}

.bgs .left button{
    margin-left: 20px;
    width: 70px;
    height: 40px;
}
.bgs .right h1{
    font-size: 30px;
   
}
.bgs .right button{
    margin-right: 20px;
    cursor: pointer;
    width: 70px;
    height: 40px;
    background-color: transparent;
  
}
}

@media only screen and (max-width: 550px){
    .bgs .center .title{
        width: 300px;
        height: 250px;
    }
}
@media only screen and (max-width: 500px){
    .bgs .center .title{
        width: 270px;
        height: 240px;
    }
    .bgs .left h1{
        font-size: 20px;
       
    }
    
    .bgs .left button{
        margin-left: 20px;
        width: 50px;
        height: 30px;
    }
    .bgs .right h1{
        font-size: 20px;
       
    }
    .bgs .right button{
        margin-right: 20px;
        cursor: pointer;
        width: 50px;
        height: 30px;
    }
}
@media only screen and (max-width: 450px){
    .bgs .center .title{
        width: 250px;
        height: 220px;
    }
    .bgs .left h1{
        font-size: 18px;
       
    }
    
    .bgs .left button{
        margin-left: 20px;
        width: 40px;
        height: 25px;
    }
    .bgs .right h1{
        font-size: 18px;
       
    }
    .bgs .right button{
        margin-right: 20px;
        cursor: pointer;
        width: 40px;
        height: 25px;
    }
    .bgs .center .title h3{
        font-size: 17px;
        margin: 10px;
    
    }

  
    .bgs .center .title .sp h3{
       font-size: 18px;
       font-weight: 600;
    }
  
    .bgs .center .title h1{
        font-size: 30px;
       font-weight: 600;
       justify-content: center;
    }
    

}