*{
    margin: 0;
    padding: 0;
}
.Dt{
    width: 100%;
    height: auto;
}
.Dt .list{
    height: auto;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 20px;
   
}
.Dt .lists{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 20px;
    border: 2px solid black;
    width: 60%;
    background-color:aliceblue;
    justify-content: center;
    justify-content: space-around;
}
.Dt .lists .ff{
    display: flex;
    flex-direction: column;
}
.Dt .lists .ss{
    display: flex;
    flex-direction: column;
}
.Dt .lists span{
    font-size: 20px;
    margin: 7px;
}
.Dt .lists .nm{
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (max-width: 1060px){
    .Dt .lists span{
        font-size: 18px;
        margin: 7px;
    }
    .Dt .lists .nm{
        font-size: 18px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 990px){
    .Dt .lists span{
        font-size: 15px;
        margin: 5px;
    }
    .Dt .lists .nm{
        font-size: 15px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 845px){
    .Dt .lists span{
        font-size: 13px;
        margin: 4px;
    }
    .Dt .lists .nm{
        font-size: 13px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 800px){
    .Dt .lists{
       flex-wrap: wrap;
    }
    .Dt .lists .ff{
        display: flex;
        flex-direction: column;
    }
    .Dt .lists .ss{
        display: flex;
        flex-direction: column;
    }
    .Dt .lists .ss{
        margin-left: 20px;
    }
}
@media only screen and (max-width: 687px){
    .Dt .lists{
       flex-wrap: wrap;
    }
    .Dt .lists .ff{
        
    }
    .Dt .lists .ss{
        margin-left: 20px;
    }
 
}
@media only screen and (max-width: 417px){
    .Dt .lists span{
        font-size: 12px;
        margin: 2px;
    }
    .Dt .lists .nm{
        font-size: 12px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 370px){
    .Dt .lists span{
        font-size: 10px;
        margin: 1px;
    }
    .Dt .lists .nm{
        font-size: 10px;
        font-weight: 600;
    }
}
/* @media only screen and (max-width: 695px){
    .Dt .lists span{
        font-size: 11px;
        margin: 2px;
    }
    .Dt .lists .nm{
        font-size: 11px;
        font-weight: 600;
    }
} */