*{
    margin: 0;
    padding: 0;
}
.Dt{
    width: 100%;
    height: auto;
    font-weight: 600;
}
.Dt .list{
    height: auto;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 20px;
   
}
.Dt .lists{
    display: flex;
    flex-wrap: nowrap;
    border-radius: 20px;
    border: 2px solid black;
    width: 70%;
    background-color:aliceblue;
    justify-content: center;
    justify-content: space-around;
}
.Dt .lists .ff{
    width: 100%;
    display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-items: center;
}
.Dt .lists .ff .nn{
    width: 47%;
}
.Dt .lists .ss{
    display: flex;
    flex-direction: column;
}
.Dt .lists span{
    font-size: 20px;
    margin: 7px;
}
.Dt .lists .nm{
    font-size: 20px;
    font-weight: 600;
}

@media only screen and (max-width: 1060px){
    .Dt .lists{
        width: 90%;

    }
    .Dt .lists span{
        font-size: 20px;
        margin: 7px;
    }
    .Dt .lists .nm{
        font-size: 20px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 990px){
    .Dt .lists span{
        font-size: 20px;
        margin: 5px;
    }
    .Dt .lists .nm{
        font-size: 20px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 845px){
    .Dt .lists span{
        font-size: 18px;
        margin: 4px;
    }
    .Dt .lists .nm{
        font-size: 18px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 800px){
    .Dt .lists{
       flex-wrap: wrap;
    }
    .Dt .lists .ff{
        
        display: flex;
        flex-direction: column;
    }
    .Dt .lists .ss{
        display: flex;
        flex-direction: column;
    }
    .Dt .lists .ss{
        margin-left: 20px;
    }
}

@media only screen and (max-width: 687px){
    .Dt .lists{
        justify-content: flex-start;
        border: none;
        width: 98%;
        box-shadow: 0 0 5px 1px rgb(120, 206, 209);
    }
    .Dt .lists{
       flex-wrap: nowrap;
    }
    .Dt .lists .ff{
        
    }
    .Dt .lists .ss{
        margin-right: 20px;
    }
 
}
@media only screen and (max-width: 614px){
    .Dt .lists{
        justify-content: flex-start;
        border: none;
        width: 80%;
        box-shadow: 0 0 5px 1px rgb(120, 206, 209);
    }
    .Dt .lists{
       flex-wrap: wrap;
    }
    .Dt .lists .ff .nn{
        width: 70%;
    }
    .Dt .lists .ss{
        position: relative;
        right: 20px;
    }
 
}
@media only screen and (max-width: 460px){
    .Dt .lists{
        justify-content: flex-start;
        border: none;
        width: 98%;
        box-shadow: 0 0 5px 1px rgb(120, 206, 209);
    }
    .Dt .lists span{
      
        font-size: 20px;
        margin: 2px;
    }
    .Dt .lists .nm{
        font-size: 20px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 417px){
    .Dt .lists span{
        font-size: 20px;
        margin: 2px;
    }
    .Dt .lists .nm{
        font-size: 20px;
        font-weight: 600;
    }
}
@media only screen and (max-width: 370px){
    .Dt .lists span{
        font-size: 17px;
        font-weight: 600;
    };
    /* .Dt .lists span{
        font-size: 10px;
        margin: 1px;
    } */
    /* .Dt .lists .nm{
        font-size: 10px;
        font-weight: 600;
    } */
}
/* @media only screen and (max-width: 695px){
    .Dt .lists span{
        font-size: 11px;
        margin: 2px;
    }
    .Dt .lists .nm{
        font-size: 11px;
        font-weight: 600;
    }
} */